ul {
  list-style: none;
}

.top {
  background-image: url(img/earth.jpg);
  background-size: cover;
  background-position: 50% 50%;
  height: 700px;
}

.top h1 {
  letter-spacing: 5px;
}

.favorite {
  height: 700px;
  font-size: 3rem;
  background-image: url(img/cat.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

.skill {
  height: 800px;
  font-size: 3rem;
  background-image: url(img/mac.jpg);
  background-size: cover;
  background-position: 50% 50%;
  text-align: center;
}

.follow {
  height: 470px;
}

footer {
  height: 150px;
}

